.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.formH{
  font-weight: lighter;
  font-size: xx-large;
}
.alert{
  --bs-alert-margin-bottom: 0rem;
  --bs-alert-padding-x: 0.5rem;
  --bs-alert-border-radius: 0px;
    --bs-alert-padding-y: 0.2rem;

}
.navFix{
  position: relative;
  position: sticky;
  top: 0;

}
.alertFix{
  position: relative;
  position: sticky;
  top: 54px;
  z-index: 1;

}